@import 'tailwindcss';

:root {
	--background: oklch(0.15 0 0);
	--foreground: oklch(0.875 0 0);
	--muted-foreground: oklch(0.7 0 0);
	--primary: oklch(1 0 0);
	--primary-foreground: oklch(0 0 0);
	--border: oklch(0.35 0 0);
	--secondary: oklch(0.3 0 0);
}

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-muted-foreground: var(--muted-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-border: var(--border);
	--color-secondary: var(--secondary);
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
