@import 'tailwindcss';

:root {
	--background: oklch(0.15 0 0);
	--foreground: oklch(0.875 0 0);
	--muted-foreground: oklch(0.7 0 0);
	--primary: oklch(1 0 0);
	--primary-foreground: oklch(0 0 0);
	--border: oklch(0.35 0 0);
	--secondary: oklch(0.3 0 0);
}

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-muted-foreground: var(--muted-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-border: var(--border);
	--color-secondary: var(--secondary);
}

@layer base {
	* {
		@apply overscroll-none border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
	.typography {
		max-width: 65ch;
		color: var(--color-foreground);
	}
	.typography h1:not(.not-typography h1) {
		scroll-margin: calc(var(--spacing) * 20);
		font-size: var(--text-4xl);
		line-height: var(--text-4xl--line-height);
		font-weight: 800;
		letter-spacing: var(--tracking-tight);
	}
	.typography h2:not(.not-typography h2) {
		scroll-margin: calc(var(--spacing) * 20);
		border-bottom: 1px solid var(--color-border);
		padding-bottom: calc(var(--spacing) * 2);
		font-size: var(--text-3xl);
		line-height: var(--text-3xl--line-height);
		font-weight: 600;
		letter-spacing: var(--tracking-tight);
		margin-top: calc(var(--spacing) * 12);
	}
	.typography h2:not(.not-typography h2):first-child {
		margin-top: 0;
	}
	.typography h3:not(.not-typography h3) {
		scroll-margin: calc(var(--spacing) * 20);
		font-size: var(--text-2xl);
		line-height: var(--text-2xl--line-height);
		font-weight: 600;
		letter-spacing: var(--tracking-tight);
		margin-top: calc(var(--spacing) * 12);
	}
	.typography h3:not(.not-typography h3):first-child {
		margin-top: 0;
	}
	.typography h4:not(.not-typography h4) {
		scroll-margin: calc(var(--spacing) * 20);
		font-size: var(--text-xl);
		line-height: var(--text-xl--line-height);
		font-weight: 600;
		letter-spacing: var(--tracking-tight);
		margin-top: calc(var(--spacing) * 12);
	}
	.typography h4:not(.not-typography h4):first-child {
		margin-top: 0;
	}
	.typography h5:not(.not-typography h5) {
		scroll-margin: calc(var(--spacing) * 20);
		font-size: var(--text-lg);
		line-height: var(--text-lg--line-height);
		font-weight: 600;
		letter-spacing: var(--tracking-tight);
		margin-top: calc(var(--spacing) * 12);
	}
	.typography h5:not(.not-typography h5):first-child {
		margin-top: 0;
	}
	.typography h6:not(.not-typography h6) {
		scroll-margin: calc(var(--spacing) * 20);
		font-size: var(--text-base);
		line-height: var(--text-base--line-height);
		font-weight: 600;
		letter-spacing: var(--tracking-tight);
		margin-top: calc(var(--spacing) * 12);
	}
	.typography h6:not(.not-typography h6):first-child {
		margin-top: 0;
	}
	.typography h1:not(.not-typography h1) + p,
	.typography h2:not(.not-typography h2) + p,
	.typography h3:not(.not-typography h3) + p,
	.typography h4:not(.not-typography h4) + p,
	.typography h5:not(.not-typography h5) + p,
	.typography h6:not(.not-typography h6) + p {
		margin-top: 0;
	}
	.typography p:not(.not-typography p) {
		line-height: 1.75;
	}
	.typography p:not(.not-typography p):not(:first-child) {
		margin-top: calc(var(--spacing) * 6);
	}
	.typography li:not(.not-typography li) {
		line-height: 1.75;
	}
	.typography a:not(.not-typography a) {
		font-weight: 500;
		color: var(--color-primary);
		text-decoration: underline;
		text-underline-offset: var(--spacing);
	}
	.typography blockquote:not(.not-typography blockquote) {
		margin-top: calc(var(--spacing) * 6);
		border-left: 2px solid var(--color-border);
		padding-left: calc(var(--spacing) * 6);
		font-style: italic;
	}
	.typography table:not(.not-typography table) {
		margin-top: calc(var(--spacing) * 6);
		margin-bottom: calc(var(--spacing) * 6);
		width: 100%;
		overflow-y: auto;
	}
	.typography table:not(.not-typography table) thead tr {
		margin: 0;
		border-top: 1px solid var(--color-border);
		padding: 0;
	}
	.typography table:not(.not-typography table) thead tr:nth-child(even) {
		background-color: var(--color-muted);
	}
	.typography table:not(.not-typography table) th {
		border: 1px solid var(--color-border);
		padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
		text-align: left;
		font-weight: 700;
	}
	.typography table:not(.not-typography table) th[align='center'] {
		text-align: center;
	}
	.typography table:not(.not-typography table) th[align='right'] {
		text-align: right;
	}
	.typography table:not(.not-typography table) tbody tr {
		margin: 0;
		border-top: 1px solid var(--color-border);
		padding: 0;
	}
	.typography table:not(.not-typography table) tbody tr:nth-child(even) {
		background-color: var(--color-muted);
	}
	.typography table:not(.not-typography table) td {
		border: 1px solid var(--color-border);
		padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
		text-align: left;
	}
	.typography table:not(.not-typography table) td[align='center'] {
		text-align: center;
	}
	.typography table:not(.not-typography table) td[align='right'] {
		text-align: right;
	}
	.typography ul:not(.not-typography ul) {
		margin-top: calc(var(--spacing) * 6);
		margin-left: calc(var(--spacing) * 6);
		list-style: disc;
	}
	.typography ul:not(.not-typography ul) > li {
		margin-top: calc(var(--spacing) * 2);
	}
	.typography ul:not(.not-typography ul) p {
		margin-top: 0;
		margin-bottom: 0;
		display: inline;
	}
	.typography ol:not(.not-typography ol) {
		margin-top: calc(var(--spacing) * 6);
		margin-left: calc(var(--spacing) * 6);
		list-style: decimal;
	}
	.typography ol:not(.not-typography ol) > li {
		margin-top: calc(var(--spacing) * 2);
	}
	.typography ol:not(.not-typography ol) p {
		margin-top: 0;
		margin-bottom: 0;
		display: inline;
	}
	.typography pre:not(.not-typography pre) {
		background-color: var(--color-muted);
		border-radius: calc(var(--radius) - 2px);
		padding: calc(var(--spacing) * 4);
		margin-top: calc(var(--spacing) * 6);
		margin-bottom: calc(var(--spacing) * 6);
		font-size: var(--text-sm);
		line-height: var(--text-sm--line-height);
		overflow-y: auto;
	}
	.typography code:not(pre code):not(.not-typography code) {
		position: relative;
		border-radius: var(--radius);
		background-color: var(--color-muted);
		padding: calc(var(--spacing) * 0.2) calc(var(--spacing) * 0.3);
		font-family: var(--font-mono);
		font-size: var(--text-sm);
		line-height: var(--text-sm--line-height);
		font-weight: 600;
	}
	.typography .lead:not(.not-typography .lead) {
		font-size: var(--text-xl);
		line-height: var(--text-xl--line-height);
		color: var(--color-muted-foreground);
	}
	.typography .large:not(.not-typography .large) {
		font-size: var(--text-lg);
		line-height: var(--text-lg--line-height);
		font-weight: 600;
	}
	.typography .small:not(.not-typography .small) {
		font-size: var(--text-sm);
		line-height: 1;
		font-weight: 500;
	}
	.typography .muted:not(.not-typography .muted) {
		font-size: var(--text-sm);
		line-height: var(--text-sm--line-height);
		color: var(--color-muted-foreground);
	}
	.typography img:not(.not-typography img),
	.typography picture:not(.not-typography picture),
	.typography video:not(.not-typography video) {
		margin-top: calc(var(--spacing) * 6);
		margin-bottom: calc(var(--spacing) * 6);
	}
	.typography img:not(.not-typography img):first-child,
	.typography picture:not(.not-typography picture):first-child,
	.typography video:not(.not-typography video):first-child {
		margin-top: 0;
	}
	.typography picture > img:not(.not-typography picture > img) {
		margin-top: 0;
		margin-bottom: 0;
	}
	.typography kbd:not(.not-typography kbd) {
		border-radius: calc(var(--radius) - 2px);
		background-color: var(--color-muted);
		padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1.5);
		font-size: var(--text-xs);
		line-height: var(--text-xs--line-height);
		font-weight: 600;
	}
	.typography hr {
		margin-top: calc(var(--spacing) * 10);
		margin-bottom: calc(var(--spacing) * 10);
	}
	.typography dl:not(.not-typography dl) {
		margin-top: calc(var(--spacing) * 6);
		margin-bottom: calc(var(--spacing) * 6);
	}
	.typography dl:not(.not-typography dl) dt {
		font-weight: 600;
		margin-top: calc(var(--spacing) * 6);
		letter-spacing: var(--tracking-tight);
	}
	.typography dl:not(.not-typography dl) dt:first-child {
		margin-top: 0;
	}
	.typography details:not(.not-typography details) {
		margin-top: calc(var(--spacing) * 6);
	}
	.typography details:not(.not-typography details) summary {
		cursor: pointer;
		font-weight: 600;
		margin-top: calc(var(--spacing) * 6);
		letter-spacing: var(--tracking-tight);
	}
	.typography details:not(.not-typography details) p:first-of-type {
		margin-top: calc(var(--spacing) * 2);
	}
	.typography mark:not(.not-typography mark) {
		background-color: var(--color-yellow-300);
	}
	.typography small:not(.not-typography small) {
		font-size: var(--text-xs);
		line-height: 1;
	}

	/* Shiki Transformer Styles */
	.typography .line {
		position: relative;
		min-height: 1lh;
	}
	/* Focus transformer */
	.typography .has-focused .line:not(.focused) {
		filter: blur(2px);
		transition: filter 200ms;
	}
	.typography .has-focused:hover .line:not(.focused) {
		filter: blur(0);
	}
	/* Diff transformer */
	.typography .line.diff {
		display: inline-block;
		position: relative;
		margin-left: calc(var(--spacing) * -4);
		margin-right: calc(var(--spacing) * -4);
		padding-left: calc(var(--spacing) * 4);
		padding-right: calc(var(--spacing) * 4);
		width: 100%;
		max-width: none;
		box-sizing: content-box;
	}
	.typography .line.diff::before {
		position: absolute;
		left: calc(var(--spacing) * 1.5);
	}
	.typography .line.diff.remove {
		opacity: 0.7;
		background-color: color-mix(in srgb, var(--color-red-400) 20%, transparent);
	}
	.typography .line.diff.remove::before {
		content: '-';
		color: rgb(230, 10, 100);
	}
	.typography .line.diff.add {
		background-color: color-mix(in srgb, var(--color-green-400) 10%, transparent);
	}
	.typography .line.diff.add::before {
		content: '+';
		color: rgb(10, 200, 100);
	}
	/* Highlight transformer */
	.typography .line.highlighted {
		display: block;
		width: 100%;
		padding-left: calc(var(--spacing) * 3.5);
		border-left: 2px solid color-mix(in srgb, var(--color-primary) 50%, transparent);
		background-color: color-mix(in srgb, var(--color-primary) 10%, transparent);
	}
	/* Word highlight transformer */
	.typography .highlighted-word {
		padding: 1px;
		border: 1px solid color-mix(in srgb, var(--color-primary) 30%, transparent);
		background-color: color-mix(in srgb, var(--color-primary) 10%, transparent);
		border-radius: calc(var(--radius) - 2px);
		font-weight: 500;
		margin: -1px 0;
	}

	@media (min-width: 1024px) {
		.typography h1:not(.not-typography h1) {
			font-size: var(--text-5xl);
			line-height: var(--text-5xl--line-height);
		}
	}
}
