{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"svelteAllowShorthand": true,
	"trailingComma": "es5",
	"printWidth": 100,
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss"
	],
	"tailwindFunctions": ["tv"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
