@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.scheme-dark {
		color-scheme: dark;
	}
}

html {
	scroll-behavior: smooth;
	scrollbar-gutter: stable;
}

html.dark {
	color-scheme: dark;
}

ul.list-style-dash {
	list-style-type: none;
}

ul.list-style-dash li::before {
	content: "- ";
	padding-right: 5px;
	@apply text-gray-400 dark:text-gray-600;
}
